.root {
    -color-bg: #000000;
    -color-surface: #16181c;
    -color-border: #2f3336;

    -color-text: #ffffff;
    -color-secondary: #71767b;

    -color-accent: #1d9bf0;
    -color-danger: #f91880;

    -color-icon: -color-text;
    -color-icon-secondary: -color-secondary;
    -color-icon-hover: -color-accent;
}