.tweet-item {
    -fx-background-color: -color-bg;
    -fx-border-color: -color-border;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 18;
    -fx-max-width: Infinity;
}

.tweet-item:hover {
    -fx-background-color: transparent;
}

.tweet-name {
    -fx-text-fill: -color-text;
    -fx-font-size: 19px;
    -fx-font-weight: bold;
}

.tweet-username,
.tweet-time {
    -fx-text-fill: -color-secondary;
    -fx-font-size: 16px;
}

.tweet-content {
    -fx-text-fill: -color-text;
    -fx-font-size: 18px;
}

.tweet-actions {
    -fx-alignment: center-left;
    -fx-padding: 8 0 0 0;
}

.tweet-action-btn {
    -fx-background-color: transparent;
    -fx-text-fill: -color-secondary;
    -fx-font-size: 15px;
    -fx-cursor: hand;
    -fx-background-radius: 20;
    -fx-padding: 5 10;
    -fx-icon-color: -color-text;
}

.tweet-action-btn:hover {
    -fx-background-color: rgba(29,155,240,0.15);
    -fx-text-fill: -color-accent;
}

.tweet-icon {
    -fx-icon-size: 18;
    -fx-icon-color: -color-text;
    -fx-fill: -color-text;
}

.tweet-action-btn:hover .tweet-icon {
    -fx-icon-color: -color-accent;
    -fx-fill: -color-accent;
}

.tweet-count {
    -fx-text-fill: -color-text;
    -fx-font-size: 13px;
}

.tweet-action-btn.liked .tweet-icon {
    -fx-icon-color: #f91880;
    -fx-fill: #f91880;
}

.tweet-action-btn.liked .tweet-count {
    -fx-text-fill: #f91880;
}


.tweet-action-btn.bookmarked .tweet-icon {
    -fx-icon-color: #1d9bf0;
    -fx-fill: #1d9bf0;
}

.tweet-action-btn.retweeted .tweet-icon {
    -fx-icon-color: #17bf63;
    -fx-fill: #17bf63;
}

.tweet-action-btn.retweeted .tweet-count {
    -fx-text-fill: #17bf63;
}