
.tab-container {
    -fx-background-color: #000000;
    -fx-border-color: #2f3336;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 0 16;
    -fx-spacing: 20;
}

.tab-label {
    -fx-text-fill: #71767b;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 12 4 12 4;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 4 0;
}

.tab-label-active {
    -fx-text-fill: #e7e9ea;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 12 4 12 4;
    -fx-cursor: hand;
    -fx-border-color: #1d9bf0;
    -fx-border-color-radius: 30px;
    -fx-border-width: 0 0 4 0;
}

.tab-label:hover {
    -fx-background-color: #181818;
}

.compose-section {
    -fx-background-color: #000000;
    -fx-border-color: #2f3336;
    -fx-border-width: 0 0 1 0;
    -fx-border-radius: 0;
    -fx-padding: 8 16 12 16;
    -fx-background-radius: 0;
    -fx-max-height: 100px;
    -fx-pref-height: 100px;
}

.tweet-text-area {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-text-fill: #e7e9ea;
    -fx-prompt-text-fill: #71767b;
    -fx-font-size: 18px;
    -fx-wrap-text: true;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}

.tweet-text-area .content {
    -fx-background-color: #000000;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-width: 0;
}

.tweet-text-area:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.option-container {
    -fx-border-color: #555555;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.option-btn {
    -fx-padding: 5 10 5 10;
    -fx-background-color: #000000;
    -fx-border-color: transparent;
}

.option-icon-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-cursor: hand;
    -fx-padding: 5;
    -fx-background-radius:30;
}

.option-icon-btn:hover {
    -fx-background-color: #333333;
}

.post-btn {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 30;
}

.tweet-scroll,
.tweet-scroll:focused,
.tweet-scroll .viewport {

    -fx-focus-color: #000000;
    -fx-faint-focus-color: #000000;

    -fx-background-insets: 0;
    -fx-border-insets: 0;

    -fx-border-color: #000000;
}

.tweet-container {
    -fx-background-color: #000000;
    -fx-fill-width: true;
    -fx-focus-color: #000000
}

.scroll-pane {
    -fx-background: #000000;
    -fx-background-color: #000000;
}

.tweet-scroll .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}